// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.monitor {
  .measurement a {
    color: #005580;
    font-size: 48px;
  }
  .description {
    text-transform: uppercase;
    color: #999;
    width: 140px;
  }
}